body{
    font-family: 'Lobster', cursive;
    margin: 0;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 40px;
}
.pink{
    color: rgb(209, 64, 88);
}
.purple{
    color: rgb(155, 80, 155);
}
.flexible-container{
    display: flex;
    margin-top: 15%;

}
.flexible-container2{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 4%;
    padding-right: 6%;
    
}
.half-width-image{
    width: 80%;
   
    
}
.plum{
    color: ;
}
p{
    font-size: 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(138, 67, 138), rgb(247, 184, 247)

    );
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   }

    .link-button2{
        text-decoration: none;
        background-image: linear-gradient(rgb(209, 64, 88), rgb(247, 184, 247)
    
        );
        padding: 10px 40px;
        color: white;
        font-weight: 700;
        border-radius: 5px;
    }
    .my-works{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .box{
        
        width: 40%;
        margin-left: 5%;
        margin-right: 5%; 
        padding-left: 20px;
        border-radius: 2%;
        box-shadow: 10px 10px 40px rgb(138, 67, 138);
        
        
    }
    
       .experience-area{
           margin-top: 10%;
           margin-bottom 10%;
           background-image: url(images/exp-bg.png);
           background-repeat: no-repeat;
           background-position: left;
           
           
       }
       #web-dev-experience{
        border-left: 7px solid;
        border-image: linear-gradient(blue, cyan);
        border-image-slice: 1;
   
        
        }

       #full-stack-experience{
        border-left: 7px solid;
        border-image: linear-gradient(purple, tomato);
        border-image-slice: 1;
        }
footer p{
    margin-top: 15%;
    text-align: center;
}